.mask{
    width: 100%;
    height: 100vh;
    position: relative;
}

.into-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    
}
.mask::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.7;
}
h1{
    background-color: transparent;
}
.hero{
    height: 100%;
    width: 100%;
}
.hero .content{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    text-align: center;
    background-color: transparent;
    
}
.navigation{
    display: none;
    padding: 1rem;
}
.hero .content h1{
    font-size: 4rem;
    padding: 0.6rem 0 1.5rem;
    padding-top: 0;
}
.hero .content p{
    font-size: 1.4rem;
    font-weight: 400;
    background-color: transparent;
}

@media screen and (max-width : 640px) {
    .hero .content h1{
        font-size: 3rem;
    }
    .navigation{display: block;}
    .hero .content p{
        font-size: 1.4rem;
    }
}