.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 10;
}
.mylogo{
    height: 65px;
    width: 115px;
    background-color: transparent;
    margin: 1.5rem;
}
.mylogo:hover{
    height: 75px;
    width: 130px;
    transition: 0.5s;
}
.header-bg{
    background-color: #000000;
    transition: 0.5s; 
    height: 75px;
}
.nav-menu{
    display: flex;
}
a{
    color: white;
    background-color: transparent;
}
.nav-menu l{
    padding: 0 1rem;
}
.nav-menu l a{
    font-size: 1.2rem;
    font-weight: 500;
    background-color: transparent;
}
.hamburger{
    display: none;
}
@media screen and (max-width : 1040px){
    .mylogo{
        margin: 0.8rem;
    }
    .nav-menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -3;
        transition: 0.3s;
    }
    .nav-menu.active{
        left: 0;
    }
    .nav-menu l{
        padding: 1rem 0;
    }
    .nav-menu l a{
        font-size: 2rem;
    }
    .hamburger{
        display: initial;
        cursor: pointer;
    }
    .hamburger :hover{
        -webkit-box-shadow: 2px -1px 109px 10px rgba(171, 172, 164, 0.75);
        -moz-box-shadow: 2px -1px 109px 10px rgba(173, 173, 171, 0.75);
        height: 50px;
        width: 50px;
        box-shadow: 2px -1px 109px 10px rgba(181, 181, 174, 0.75);
        transition: 0.5s;
        background-color: transparent;
    }
}